@import 'https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap';
* {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding-top: 72px;
    padding-inline: 32px;
}

h1 {
    font-size: 20px;
    color: var(--Cyan);
    line-height: 24px;
    margin-bottom: 24px;
}

h2 {
    font-size: 18px;
    line-height: 22px;
    color: white;
}

body {
    background-color: lightgray;
}

